
<div class="navbar navbar-dark darker-bg col-md-12">
    <a class="navbar-brand text-themed" href="/"><img class="nav-img" src="/resources/img/elb.svg">&nbspRewan</a>
    <div class="row desktopOnly col-md-8">
        <div class="col-md alignNavItem"><a class="nav-big-item" href="/career"><i class="fa fa-user-tie"></i></a></div>
        <div class="col-md alignNavItem"><a class="nav-big-item" href="/projects"><i class="fa fa-terminal"></i></a></div>
        <div class="col-md alignNavItem"><a class="nav-big-item" href="/contact"><i class="fa fa-envelope"></i></a></div>
    </div>
    <button class="navbar-toggler mobileOnly" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navButton desktopOnly col-md-1 pull-right" href="/shelf">
        <i class="fas fa-layer-group"></i>
    </a>
    <div class="row collapse navbar-collapse bg-darker" id="navbarNav">
        <a class="col nav-item" href="/career"><i class="fa fa-user-tie"></i></a>
        <a class="col nav-item" href="/projects"><i class="fa fa-terminal"></i></a>
        <a class="col nav-item" href="/contact"><i class="fa fa-envelope"></i></a>
    </div>
</div>