{{ template "header.html" .}}

<div class="container mt-5 mb-5">
    <div class="card cardRounded">
        <div class="card-body card-padding">
            <h1 class="card-title text-decoration-none align-center">{{.titleError}}</h1>
            <p class="card-text text-center">{{.contentError}}</p>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(element) {
        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

{{ template "footer.html" .}}