{{ template "header.html" .}}
<div class="container mt-4 mb-4">
    <div class="card cardRounded">
        <div class="card-body card-text-centered card-padding">
            <h1 class="card-title align-center">{{msg "memory.main.title" .lang nil}}</h1>
            <p class="card-text card-text-centered">{{msg "memory.main.body" .lang nil}}</p>
            <a class="btn btn-success" href="/tools/memory/game"> {{msg "memory.main.button" .lang nil}} </a>
        </div>
    </div>
</div>
{{ template "footer.html" .}}