{{ template "header.html" .}}
<div class="container mt-4">
    <div class="card cardRounded">
        <div class="card-body text-center card-padding">
            <h5 class="card-title align-center">{{msg "update.why.title" .lang nil}}</h5>
            <p class="card-text">{{msg "update.why.content" .lang nil}}</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="card cardRounded">
        <div class="card-body text-center card-padding">
            <h5 class="card-title align-center">{{msg "update.how.title" .lang nil}}</h5>
            <p class="card-text">{{msg "update.how.content" .lang nil}}</p>
        </div>
    </div>
</div>
{{ template "footer.html" .}}